.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-pink {
    background-color: pink;
}

.bg-purple {
    background-color: purple;
}

.bg-skyblue {
    background-color: skyblue;
}

.bg-green {
    background-color: green;
}

.bg-gray {
    background-color: gray;
}

.bg-orange {
    background-color: orange;
}